# Copyright (c) 2023 XXX
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_GNRC_XIPFS
    bool "An execute in place file system"
    depends on TEST_KCONFIG
